<% layout('/layouts/boilerplate')%>
    <html lang="en">

    <head>
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <div class="container d=flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://res.cloudinary.com/dx46c6r7s/image/upload/v1660252344/4_ly2lbo.jpg" alt=""
                        class="card-img-top" />
                    <div class="card-body">
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <h5 class="card-title">Login</h5>
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn button-6" role="button">Login</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>